/* General Code */
body {
    padding: 0;
    background: #56c6d4;
    font-family: 'Nunito' !important;
    margin: 0%;
    width: 100%;
  }
  
  
  h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: white;
  }
  p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200 !important;
    font-size: 24px;
    line-height: 35px;
    color: white;
  }

  /*--- navigation bar ---*/
  .navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
    width: 100%;
    background: #7400B8;
  }

  .navbar-hide {
    pointer-events: none;
    opacity: 0;
  } 
  .nav-link,
  .navbar-brand {
    color: #FFF;
    cursor: pointer;
  }
  .navbar-brand img{
    height: 50px;
    width: 50px;
    margin-left: 80%;
    margin-top: 5%;
  }
  .nav-link {
    margin-top: 0.8em;
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    flex-grow: 0.5 !important;
    justify-content: flex-end;
    text-align: center;
  }
  .nav-item{
    font-size: 20px;
    font-weight: 200 !important;
  }

  /* -- Header --*/
  .header {
    background: linear-gradient(180deg, 
    #7400B8 0%, 
      rgba(105, 48, 195, 0.838542) 20.83%, 
      rgba(94, 96, 206, 0.682292) 42.71%, 
      rgba(83, 144, 217, 0.479167) 60.94%, 
      rgba(78, 168, 222, 0.39038) 79.69%, 
      rgba(72, 191, 227, 0.39038) 98.44%
      );
    background-size: cover;
    position: relative;
    height: auto;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .header-content{
    position: absolute;
    margin-top: 13%;
  }
  .description h1 {
    line-height: 60px;
    margin-left: 18%;
  }

  .description p {
    margin-left: 18%;
    margin-right: 5%;
    font-size: 22px;
  }
  .description .btn-primary{
    margin-left: 42%;
    margin-top: 3%;
    background-color: rgba(105, 48, 195, 0.838542);
    border-color: rgba(105, 48, 195, 0.838542);
    margin-bottom: 4%;
  }

  
  .header-photo img{
    width: 17em;
    height: 17em;
    border:5px solid white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
  }
  
  /* -- Current Section --*/
  .current-block{
    background: white;
    background-size: cover;
    position: relative;
    /* height: 107vh; */
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .current-description{
    margin-top: 8%;
    margin-left: 8%;
  }

  .current h1{
    color: #4447CD;
    margin-right: 4%;
  }

  .current p{
    margin-top: 8%;
    margin-left: 12%;
    margin-right: 20%;
    color: #4447CD;
  }

  .current-description mark{
    color: #4447CD;
    display: inline-block;
    background-color: rgba(228, 192, 236, 0.839);
    line-height: 0em;
    padding-bottom: 0.6em;
    padding-top: revert;
    padding-left: initial;
  }

  .current b{
    font-weight: bold;
  }

  .current .btn{
    margin-top: 4%;
    margin-left: 30%;
    background-color: rgba(105, 48, 195, 0.838542);
    border-color: rgba(105, 48, 195, 0.838542);
  }

  .current .end-bracket{
    margin-top: 4%;
    margin-bottom: 6%;
  }

  .current-photo{
    background-image: url("images/toronto_cropped.jpg");
    background-size: contain;
    position: relative;
    height: auto;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /* -o-background-size: cover; */
    background-attachment: fixed;
    background-position: 100% 70%;
  }

  /* -- Contact Section--*/
  .contact{
    background: linear-gradient(180deg, 
      #4EA8DE 0%, 
      #48BFE3 20.83%, 
      #56CFE1 40.1%, 
      #64DFDF 56.77%); 
      /* #72EFDD 75.52%, 
      #80FFDB 100%); */
    background-size: cover;
    position: relative;
    /* height: 32vh; */
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .contact-description{
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
  .contact-description mark{
    color: white;
    display: inline-block;
    background-color: #6EEBDE;
    line-height: 0em;
    padding-bottom: 0.6em;
    padding-top: revert;
    padding-left: initial;
  }

  .contact img{
    width: 45px;
    height: 45px;
    margin-top: 4%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
  }

  